* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

body {
  background-color: #625f57;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #524f49;
  z-index: 100;
}

.header__logo {
  display: flex;
  font-size: 24px;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  align-items: center;
}

.header__navigation-item {
  border-bottom: 7px solid transparent;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}

.header__navigation-item:hover {
  border-radius: 10px;
  color: #ffffff;
  background: #babab5;
  border-bottom: 5px solid #6b675c;
  opacity: 0.7;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.homework {
  display: flex;
}

.homework:first-child {
  padding-top: 100px;
}

.homework__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homework__list-name {
  margin-bottom: 15px;
  color: #ffffff;
}

.homework__link {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  margin-left: 25px;
}

.homework__item {
  border-bottom: 5px solid transparent;
  color: #ffffff;
  transition: 0.4s ease-in-out;
  padding: 8px 0;
  margin: 10px;
  width: auto;
}
.homework__item:hover {
  border-radius: 10px;
  color: #ffffff;
  background: #babab5;
  border-bottom: 5px solid #6b675c;
  opacity: 0.6;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
