* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: rgb(69, 102, 156);
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  color: rgb(89, 116, 165);
}

.homework {
  display: flex;
  justify-content: space-evenly;
}

.homework__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(255, 105, 104);
}
