body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f7fa;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 90px 105px 90px;
}

/* about styles */

.about-user {
    margin-bottom: 40px;
}

.about-position {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.about-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 20px 0px 25px 0px;
}

.about-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* project styles */

.projects {
    margin-bottom: 50px;
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0%;
    margin-left: 15px;
}

.projects-item,
.project-bracket {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project,
.project-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

/* work styles */

.work {
}

.work-position {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization,
.university {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #8e858b;
}

.period {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: black;
}

.work-list {
    padding: 0px;
    margin-left: 15px;
}

.work-list-item {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* education styles */

.education {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-top: 45px;
}

.university {
    margin-bottom: 11px;
    margin-top: 12px;
}

.faculty {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* sidebarstyles */

.sidebar {
    background-color: #57585a;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.contacts {
    margin-bottom: 50px;
}

.sidebar-tittle {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact-type {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.contact-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 15px;
}

.tech-skills-list,
.soft-skills-list {
    color: #ffffff;
    padding: 0px;
    margin-left: 15px;
}

.tech-skills-item,
.soft-skills-item {
    color: #8e858b;
}

.tech-skills-text,
.soft-skills-text {
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills {
    margin-top: 44px;
}
